<div class="container mt-4" id="messages" data-sender-id="{{ current_user.id }}" x-data="{ messages: [] }" x-effect="
    if (selectedUser.id) {
        fetch(`/chat/${selectedUser.id}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                messages = data.messages;
            });
    }
">
    <template x-for="message in messages" :key="message.id">
        <div class="box mt-4 mb-4">
            <p x-text="message.message" :class="message.sender_id === {{ current_user.id }} ? 'has-background-primary-light' : ''" class="p-2" 
            :style="message.sender_id === {{ current_user.id }} ? 'text-align: right;' : 'text-align: left;'"></p>
        </div>
    </template>
    <template x-if="messages.length === 0">
        <div class="box" id="no-message">No messages</div>
    </template>
</div>