<div class="container mt-4" id="messages" x-effect="getMessage(selectedUser.id)"></div>

<script>
    function getMessage(selectedUserId) {
        if (!selectedUserId) {
            const container = document.getElementById('messages')
            container.innerHTML = '<div class="box">No messages</div>'
            return
        }

        fetch(`/chat/${selectedUserId}`)
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('messages')
                if (data.messages.length !== 0) {
                    container.innerHTML = ''
                    data.messages.forEach(message => {
                        const messageElement = document.createElement('div')
                        messageElement.classList.add('box', 'mt-4', 'mb-4');
                        if (message.senderIsUser) {
                            messageElement.innerHTML = `
                                <p style="text-align: right;">${message.message}</p>
                            `
                        } else {
                            messageElement.innerHTML = `
                                <p style="text-align: left;">${message.message}</p>
                            `
                        }
                        container.appendChild(messageElement)
                    })
                }
                else {
                    container.innerHTML = '<div class="box">No messages</div>'
                }
            })
    }
</script>