{% extends "index.html" %}

{% block content %}
<section class="section is-large">
    <div class="container">
        <h1 class="title has-text-centered">Login</h1>
        <form action="{{ url_for('login') }}" method="post"
            x-data="{ email: '', password: '', errors: {} }" @submit.prevent="
                if (email.trim() === '') {
                    errors.email = 'Email is required';
                } else {
                    delete errors?.email;
                }

                if (password.trim() === '') {
                    errors.password = 'Password is required';
                } else {
                    delete errors?.password;
                }
                if (Object.keys(errors).length !== 0) return 
                $el.submit();
            " class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
            <div class="field" style="width: 50%">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input class="input" x-model="email" type="email" name="email" placeholder="Enter your email"
                        @input="errors.email = ''" :class="{
                            'is-danger': errors.email && email.trim() === ''
                        }">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
                <p class="help is-danger" x-show="errors.email" x-text="errors.email"></p>
            </div>
            <div class="field" style="width: 50%">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input class="input" x-model="password" type="password" name="password"
                        placeholder="Enter your password" @input="errors.password = ''" :class="{
                            'is-danger': errors.password && password.trim() === ''
                        }">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
                <p class="help is-danger" x-show="errors.password" x-text="errors.password"></p>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Login</button>
                </div>
            </div>
            <p class="has-text-centered">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
        </form>
    </div>
</section>
{% endblock %}